body {
  margin: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-input {
  width: 500px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.clear-button {
  height: 36px;
  width: 30px;
  margin-left: 5px;
}

.disclaimer {
  margin-top: 20px;
  font-weight: 600;
}
